<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198479309081-nn12l7ve60jsigftsce5tgkdh11moijh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198479309081-nn12l7ve60jsigftsce5tgkdh11moijh</string>
	<key>API_KEY</key>
	<string>AIzaSyDoiNTu0m-7NWJGlrSOyg_5SIchEh6DTXo</string>
	<key>GCM_SENDER_ID</key>
	<string>198479309081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>centigram.io</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-75d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-75d5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198479309081:ios:d96fc4301dd0ea277a3d88</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotification-75d5a-default-rtdb.firebaseio.com</string>
</dict>
</plist>